<div ng-controller="equipeCtrl">

	<div class="container container-view">
		<div class="row">
			<div class="col-sm-12 col-sm-no-bottom">
				<h3>Telas de cadastro básico </h3>

				<ul class="list-group">
					<li><a href="#/home">Início</a></li>


					<li><a href="#/fazenda">Fazenda</a></li>
					<li><a href="#/quadra">Quadra</a></li>
					<li><a href="#/variedade">Variedade</a></li>
					<li><a href="#/safra">Safra</a></li>		
					<li>---------------</li>	
					<li><a href="#/equipe">Equipe</a></li>	
					<li><a href="#/funcionario">Funcionário</a></li>	
					<li><a href="#/tipati">Tipo Ordem de Serviço/Atividade</a></li>	
					<li><a href="#/equipamento">Equipamento</a></li>	
					<li><a href="#/produto">Produto</a></li>	
					<!--<li><a href="#/safra">Planejamento Safra</a></li>-->							
				</ul>


			</div>
		</div>
	</div>
</div>


<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
role="dialog" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-sm">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				<span class="glyphicon glyphicon-time">
				</span>&nbsp;&nbsp;Aguarde, carregando...
			</h4>
		</div>
		<div class="modal-body">
			<div class="progress">
				<div class="progress-bar progress-bar-info
				progress-bar-striped active"
				style="width: 100%">
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- Modal ends Here -->
</div>