<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
<script>
	console.log('testess#');
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
  	apiKey: "AIzaSyBxEhgngLBTOgEx05RU-zfOSTthi2oiS8Q",
  	authDomain: "pragueiroproducao.firebaseapp.com",
  	databaseURL: "https://pragueiroproducao.firebaseio.com"
  };
  firebase.initializeApp(config);
  console.log('testee1#');
</script>
<div ng-controller="configuracoesCtrl" class="ng-scope ng_scope">
	<div class="container container-view">
		<div class="row">
			<div class="col-sm-6 col-sm-no-bottom">
				<p>Você está em <a href="#home">Início</a> / <a href="#cadastro">Cadastro</a>  / <a href="#configuracoes">Configuracoes</a></p>

				<br />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-no-bottom">

				<label>Fazendas</label>
				<select class="form-control" ng-disabled=desabilitaFazenda ng-options="fazenda.nome for fazenda in fazendas" ng-model="fazenda" ng-change="chengeFazenda(fazenda)">
					<option value="">Selecione</option>
				</select>

			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-12">
				<button type="button2" class="btn btn-success" ng-show="save" ng-click="salvar(data)">Salvar</button>
				
				
				<br />
				<br />
				<form class="form-signin" role="form">	

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label>Distância entre pontos</label>
								<input type="number" class="form-control" placeholder="Código" ng-model="data.distancia_pontos" />
							</div>	
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<br>
								<input type="checkbox"  ng-model="data.mosdes"
								ng-true-value="true" ng-false-value="false">	
								<label>Mostrar quadras desativadas</label>						
							</div>		
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<br>
								<input type="checkbox"  ng-model="data.exiabe"
								ng-true-value="true" ng-false-value="false">	
								<label>Exibir 'abertura'</label>						
							</div>		
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<br>
								<input type="checkbox"  ng-model="data.ponman"
								ng-true-value="true" ng-false-value="false">	
								<label>Ponto manual</label>						
							</div>		
						</div>
					</div>

				</form>
				<br />
				<br />
				<br />
				<div id="exTab1" class="container_tab">	
					<ul  class="nav nav-tabs">
						<li class="active" ><a  href="#1a" data-toggle="tab">Configurações por Cultura</a></li>
						<li><a href="#2a" data-toggle="tab">Usuários</a></li>
					</ul>

					<div class="tab-content clearfix">

						<div class="tab-pane active " id="1a">
							<div class="row">
								<div class="col-sm-3">
									<div ui-grid="gridOptions" ui-grid-selection class="gridCulturaConfiguracoes"></div>	
								</div>
								<div class="col-sm-9">
									<div class="row">
										<button type="button" class="btn btn-success" ng-show="desabilitaFazenda" ng-click="salvarConfcul(frmCultura)">Salvar conf. da Cultura</button>
										<button type="button" class="btn btn-default btn-cancel" ng-click="cancelar()">Cancelar</button>
									</div>
									<div class="row">
										<br>
										<div class="col-sm-2">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.altura"
												ng-true-value="true" ng-false-value="false">	
												<label>Altura</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.altura">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.altura_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.altura_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.altura_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.altura_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

									<hr/>

									<div class="row">
										<br>
										<div class="col-sm-4">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.quanos"
												ng-true-value="true" ng-false-value="false">	
												<label>Quantidade Nós</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.quanos">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.quanos_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.quanos_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.quanos_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.quanos_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

									<hr/>

									<div class="row">
										<br>
										<div class="col-sm-4">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.disnos"
												ng-true-value="true" ng-false-value="false">	
												<label>Distância Nós</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.disnos">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.disnos_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.disnos_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.disnos_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.disnos_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

									<hr/>

									<div class="row">
										<br>
										<div class="col-sm-4">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.quaast"
												ng-true-value="true" ng-false-value="false">	
												<label>Quantidade Astes</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.quaast">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.quaast_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.quaast_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.quaast_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.quaast_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

									<hr/>

									<div class="row">
										<br>
										<div class="col-sm-4">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.quavag"
												ng-true-value="true" ng-false-value="false">	
												<label>Quantidade Vagem</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.quavag">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.quavag_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.quavag_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.quavag_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.quavag_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

									<hr/>

									<div class="row">
										<br>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.altprivag"
												ng-true-value="true" ng-false-value="false">	
												<label>Quantidade Altura primeira vagem</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.altprivag">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.altprivag_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.altprivag_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.altprivag_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.altprivag_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

									<hr/>

									<div class="row">
										<br>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="checkbox"  ng-model="frmCultura.quagravag"
												ng-true-value="true" ng-false-value="false">	
												<label>Quantidade Grão por Vagem</label>						
											</div>
										</div>
									</div>
									<div class="row" ng-show="frmCultura.quagravag">
										<div class="col-sm-3 form-group">
											<label>Ocorrência</label>
											<select class="form-control" ng-model="frmCultura.quagravag_ocorrencia" ng-options="o.key as o.nome for o in ocorrencia" >							
												<option></option>
											</select>
										</div>
										<div class="col-sm-3 form-group" ng-show="frmCultura.quagravag_ocorrencia=='INTFIX'">
											<label>A cada (intervalo)</label>
											<input type="number" class="form-control" placeholder="Intervalo" ng-model="frmCultura.quagravag_intervalo" />
										</div>
										<div class="col-sm-2" ng-show="false">
											<div class="form-group">
												<br>
												<input type="checkbox"  ng-model="frmCultura.quagravag_estagio"
												ng-true-value="true" ng-false-value="false">	
												<label>Por estágio</label>						
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="tab-pane" id="2a">
							<div class="row">
								<div class="col-sm-12">
									<button type="button" class="btn btn-success" ng-click="getUsuarios()">Incluir usuário existente</button>
									<button type="button" class="btn btn-primary" ng-click="chamaNovoUsuario
									()">Novo usuário</button>
									<button type="button" class="btn btn-default btn-danger" ng-show="exibePermissoes" ng-click="chamaExcluirAcesso()">Excluir acesso</button>
									<button type="button" class="btn btn-default btn-cancel" ng-show="exibePermissoes" ng-click="cancelarUsuario()">Cancelar</button>
									

									<br />
									<br />
									<div class="form-group">
										<div ui-grid="gridUsuarios" ui-grid-selection class="gridValores"></div>	
									</div>
									<div ng-show="exibePermissoes">
										<div class="form-group">
											<legend class="permissao">Permissões</legend>
										</div>
										<div class="form-group">
											<div ui-grid="gridOptionsControleacesso" ui-grid-selection  ui-grid-edit  class="gridPermissoes"></div>	
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>					
				</div>
				<div class="tab-pane" id="2a">
					<div class="row">
						
					</div>	
				</div>
			</div>
		</div>
		<hr/>
	</div>


	<div class="modal fade" tabindex="-1" role="dialog" id="modalUsuarios">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Usuários - {{objModal.nome}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<form class="form-signin" role="form" action="/login" method="post">
								<div class="form-group">
									<label>Usuário</label>									

									<select class="form-control"  ng-model="usuario_inclusao" ng-options="user as (user.nome) for user in todoUsuarios | orderBy:'nome'" >
										<option></option>
									</select>
								</div>

								<button type="button" class="btn btn-success pull-left" ng-click="salvarUsuarioXfil(usuario_inclusao)">Incluir</button>

							</form>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal DELETE-->
	<div class="modal fade" id="modalNovoUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Novo usuário</h4>
				</div>

				<div class="modal-body">				
					<form class="form-signin" role="form">	
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" placeholder="Nome completo" name="nome" ng-model="usuario_novo.nome" />
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" placeholder="Email" name="email" ng-model="usuario_novo.email" />
						</div>
						<div class="form-group">
							<label>Senha</label>
							<input type="password" class="form-control" placeholder="Senha" name="senha" ng-model="usuario_novo.senha" />
						</div>
						<div class="form-group">
							<label>Telefone</label>
							<input type="text" class="form-control" placeholder="Telefone" name="telefone" ng-model="usuario_novo.telefone" phone/>
						</div>
						<div class="form-group">
							<label>Cidade</label>
							<input type="text" class="form-control" placeholder="Cidade" name="cidade" ng-model="usuario_novo.cidade" />
						</div>
						<button type="button" class="btn btn-success pull-left" ng-click="salvarNovoUsuario(usuario_novo)">Cadastrar</button>
					</form>
					<br />
					<br />
				</div>
			</div>
		</div>
	</div>
	<!-- Modal DELETE-->
	<div class="modal fade" id="modalDeleteAcesso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Confirmação Exclusão</h4>
				</div>

				<div class="modal-body">
					<p>Têm certeza que deseja excluir o acesso desta empresa para o usuário '{{usuario.nome}}'?</p>
					<p class="debug-url"></p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-default btn-danger"  ng-click="excluirAcesso()">Excluir</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal DELETE-->
	<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Confirmação Exclusão</h4>
				</div>

				<div class="modal-body">
					<p>Têm certeza que deseja excluir a Configuracoes '{{data.nome}}'?</p>
					<p class="debug-url"></p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-default btn-danger" ng-show="edit" ng-click="excluirConfiguracoes(data)">Excluir</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Start here-->
	<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-time">
						</span>&nbsp;&nbsp;Aguarde, carregando...
					</h4>
				</div>
				<div class="modal-body">
					<div class="progress">
						<div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal ends Here -->
	
	
</div>
