<div ng-controller="fazendaCtrl" class="ng-scope ng_scope">
	<div class="container container-view">
		<div class="row">
			<div class="col-sm-6 col-sm-no-bottom">
				<p>Você está em <a href="#home">Início</a> / <a href="#cadastro">Cadastro</a>  / <a href="#fazenda">Fazenda</a></p>

				<br />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5">
				<button type="button" class="btn btn-success" ng-disabled="true" ng-show="save" ng-click="salvarFazenda(data)">Salvar</button>
				<button type="button" class="btn btn-success" ng-show="edit" ng-click="editarFazenda(data)">Atualizar</button>
				<button type="button" class="btn btn-default btn-cancel" ng-click="cancelar()">Cancelar/Novo</button>
				<button type="button" class="btn btn-default btn-warning" ng-disabled="!edit" ng-click="getUsuarios(data)">Permissões</button>
				<button type="button" class="btn btn-default btn-danger" ng-show="edit" ng-click="excluir(data)">Excluir</button>
				
				<form class="form-signin" role="form">
					<br />
					<div class="form-group">
						<label><i>Código Interno</i></label>
						<p>
							<label>{{data.key}}</label>
						</p>
					</div>
					<div class="form-group">
						<label>Nome</label>
						<input type="text" class="form-control" placeholder="Nome" ng-model="data.nome" />
					</div>
					<div class="form-group">
						<label>Razāo Social</label>
						<input type="text" class="form-control" placeholder="Razāo social" ng-model="data.razaosocial" />
					</div>
					<div class="form-group">
						<label>Telefone</label>
						<input type="text" class="form-control" placeholder="Telefone" ng-model="data.telefone"  phone/>
					</div>
					<div class="form-group">
						<label>Website</label>
						<input type="text" class="form-control" placeholder="Website" ng-model="data.website" />
					</div>
					<div class="form-group">
						<label>Cidade</label>
						<input type="text" class="form-control" placeholder="Cidade" ng-model="data.cidade" />
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" placeholder="Email" ng-model="data.email" />
					</div>
					<div class="form-group">
						<label>Distância entre pontos (em metros)</label>
						<input type="number" class="form-control" placeholder="10" ng-model="data.distancia_pontos" />
					</div>
					<div class="form-group">
						<input type="checkbox" ng-model="data.mosdes"
						ng-true-value="true" ng-false-value="false">	<label>Mostrar quadras/regiões desativadas</label>

					</div>
					<hr/>
					<div class="form-group">
						<label>Modo Intervalo de aplicação</label>

						<select class="form-control"  ng-model="data.tipintapl" ng-options="o as o for o in tipintapls" >							
							<option></option>
						</select>



					</div>	
					<!-- -->
					<button type="button" class="btn btn-success" ng-show="save" ng-click="salvarFazenda(data)">Salvar</button>
					<button type="button" class="btn btn-success" ng-show="edit" ng-click="editarFazenda(data)">Atualizar</button>
					<button type="button" class="btn btn-default btn-cancel" ng-click="cancelar()">Cancelar/Novo</button>
				</form>
			</div>
			<div class="col-sm-7">
				<div ui-grid="gridOptions" ui-grid-selection class="gridFazenda"></div>			
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalUsuarios">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Usuários - {{objModal.nome}}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<form class="form-signin" role="form" action="/login" method="post">
								<div class="form-group">
									<label>Usuário</label>
									<select class="form-control" ng-model="objModalUsuario.usuario">
										<option value="{{usuario.$id}}" ng-repeat="usuario in todoUsuarios | orderBy:'nome'">{{usuario.nome}}</option>
									</select>
								</div>

								<button type="button" class="btn btn-success pull-left" ng-show="!editUsuario" ng-click="salvarUsuarioXfil(objModal, objModalUsuario.usuario)">Salvar</button>
								<button type="button" class="btn btn-success pull-left" ng-show="editUsuario" ng-click="atualizarUsuarioXfil(objModal, objModalUsuario.usuario)">Atualizar</button>
								<button type="button" class="btn btn-default btn-cancel" ng-click="clearUsuarioXfil(data.fazenda.$id, objModal.$id)">Cancelar</button>
							</form>
						</div>
						<div class="col-sm-8">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
										<th>Usuários</th>
										<th class="text-center" width="70px">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="user in usuarios">
										<td>{{user.nome}}</td>									
										<td class="text-center" width="70px">											
											<button type="button" class="btn btn-danger btn-xs" ng-click="excluirUsuarioxfilial(objModal, user)">
												<i class="glyphicon glyphicon-remove"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal DELETE-->
	<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Confirmação Exclusão</h4>
				</div>

				<div class="modal-body">
					<p>Têm certeza que deseja excluir a Fazenda '{{data.nome}}'?</p>
					<p class="debug-url"></p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-default btn-danger" ng-show="edit" ng-click="excluirFilial(data)">Excluir</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Aguarde-->
	<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
	role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-time">
					</span>&nbsp;&nbsp;Aguarde, carregando...
				</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-info
					progress-bar-striped active"
					style="width: 100%">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Modal ends Here -->
</div>