<div ng-controller="menuCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand"><img src="dist/img/actionbar_title.png" class="logo-actionbar_title"</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/home">Início</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Básico <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/configuracoes">Configurações</a></li>
							<li><a href="#/clapraemp">Classe de Praga</a></li>
							<li><a href="#/praemp">Praga</a></li>		
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/fazenda">Fazenda</a></li>
							<li><a href="#/quadra">Quadra</a></li>								
							<li><a href="#/variedade">Variedade</a></li>
							<li><a href="#/safra">Safra</a></li>	

							<li>---------------</li>	
							<li><a href="#/planejamento">Planejamento de Safra</a></li>	
							<li>---------------</li>	

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro (operacional)<span class="caret"></span></a>
						<ul class="dropdown-menu">							
							<li><a href="#/equipe">Equipe</a></li>	
							<li><a href="#/funcionario">Funcionário/operadores</a></li>	
							<li><a href="#/tipati">Tipo Ordem de Serviço/Atividade</a></li>	
							<li><a href="#/tipequ">Tipo Equipamento</a></li>	
							<li><a href="#/equipamento">Equipamento</a></li>	
							<li><a href="#/produto">Produto</a></li>	
							<!--<li><a href="#/safra">Planejamento Safra</a></li>-->							
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lançamentos Operacionais <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/ordser">Ordem de Serviço/Atividade</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/home">Relatório de atividades</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurações <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/perfil">Meu perfil</a></li>
							<li><a href="javascript:void(0)" ng-click="logout()">Sair</a></li>
							<!--<li><a href="#/erros">Erros</a></li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</div>