<div ng-controller="quadraCtrl">
	<style type="text/css">		
		.angular-google-map-container { height: 400px; }
	</style>
	<div class="container container-view">
		<div class="row">
			<div class="col-sm-7 col-sm-no-bottom">
				<label>Fazenda</label>
				<select class="form-control" ng-disabled=desabilitaFazenda ng-options="fazenda.nome for fazenda in fazendas" ng-model="data.fazenda" ng-change="chengeFazenda(data.fazenda)">
					<option value="">Selecione</option>
				</select>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-7">
				<form class="form-signin" role="form" >
					<div class="form-group">
						<label><i>Código Interno</i></label>
						<p>
							<label>{{data.key}}</label>
						</p>
					</div>
					<div class="form-group">
						<label>Código</label>
						<input type="text" class="form-control" placeholder="Código" ng-model="data.codigo" />
					</div>
					<div class="form-group">
						<label>Nome</label>
						<input type="text" class="form-control" placeholder="Nome" ng-model="data.nome" />
					</div>					

					<button type="button" class="btn btn-success" ng-show="!edit" ng-click="salvarQuadra(data)">Salvar</button>
					<button type="button" class="btn btn-success" ng-show="edit" ng-click="editarQuadra(data)">Atualizar</button>
					<button type="button"  class="btn btn-default btn-cancel" ng-click="cancelar()">Cancelar</button>
				</form>
				<hr class="small">  
				<div class="form-group col-sm-3">
					<br><input type="checkbox" disabled=true ng-model="data.coordenadas"
					ng-true-value="true" ng-false-value="false">	<label>Coordenadas</label>

				</div>
				<div class="form-group col-sm-9">
					<br>
					Escolha um arquivo no formato shapefile ou KML clicando no botão abaixo:

					<br>
					<input type="file" id="fileInputElement" accept=".kml,.shp" data-buttonText="teste">
				</p>
				<button type="button" class="btn btn-primary" ng-show="edit" ng-click="uploadFiles()">Carregar</button>
				<button type="button" class="btn btn-success" ng-show="arquivoCarregado" ng-click="salvarArquivo(data)">Salvar</button>
				<button type="button" class="btn btn-default" ng-show="arquivoCarregado" ng-click="limparArquivo(data)">Limpar</button>
			</div>
			<div class="col-sm-12">
				<div class="form-group" ng-if="map.show">
					<ui-gmap-google-map center='map.center' control='map.control' zoom='map.zoom' options="map.options">

						<ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
						geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>						

					</ui-gmap-google-map>

				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th class="text-center" width="60px">Coordenadas</th>
						<th class="text-center" width="60px">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="quadra in quadras">
						<td>{{quadra.codigo}}</td>
						<td>{{quadra.nome}}</td>
						<td class="text-center" width="100px">{{(quadra.coordenadas ? 'Sim' : 'Nāo')}}</td>
						<td class="text-center" width="70px">
							<button type="button" class="btn btn-default btn-xs" ng-click="chamaEditar(quadra)">
								<i class="glyphicon glyphicon-pencil"></i>
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="excluir(quadra)">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>



</div>
</div>
<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
role="dialog" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-sm">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				<span class="glyphicon glyphicon-time">
				</span>&nbsp;&nbsp;Aguarde, carregando...
			</h4>
		</div>
		<div class="modal-body">
			<div class="progress">
				<div class="progress-bar progress-bar-info
				progress-bar-striped active"
				style="width: 100%" >
			</div>
		</div>
	</div>
</div>
</div>
</div>


</div>

