<div ng-controller="quadraCtrl">
	<style type="text/css">
		.cropArea {
			background: #E4E4E4;
			overflow: hidden;
			width:500px;
			height:350px;
		}
		form .progress {
			line-height: 15px;
		}

	</style>
	<div class="container container-view">
		<div class="row">
			<div class="col-sm-6 col-sm-no-bottom">

				<label>Fazenda</label>
				<select class="form-control" ng-disabled=desabilitaFazenda ng-options="fazenda.nome for fazenda in fazendas" ng-model="data.fazenda" ng-change="chengeFazenda(data.fazenda)">
					<option value="">Selecione</option>
				</select>
				
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-7">
				<form class="form-signin" role="form">
					<div class="form-group">
						<label><i>Código Interno</i></label>
						<p>
							<label>{{data.key}}</label>
						</p>
					</div>
					<div class="form-group">
						<label>Código</label>
						<input type="text" class="form-control" placeholder="Código" ng-model="data.codigo" />
					</div>
					<div class="form-group">
						<label>Nome</label>
						<input type="text" class="form-control" placeholder="Nome" ng-model="data.nome" />
					</div>					
					<div class="form-group">
						<input type="checkbox" disabled=true ng-model="data.coordenadas"
						ng-true-value="true" ng-false-value="false">	<label>Coordenadas</label>

					</div>



					
					<button type="button" class="btn btn-success" ng-show="!edit" ng-click="salvarQuadra(data)">Salvar</button>
					<button type="button" class="btn btn-success" ng-show="edit" ng-click="editarQuadra(data)">Atualizar</button>
					<button type="button"  class="btn btn-default btn-cancel" ng-click="cancelar()">Cancelar</button>

					<div class="form-group">

						<hr class="small">  
						<label>Importação de área da quadra/região</label>
						
						<input type="file" id="file">


						<button type="button" class="btn btn-success" ng-click="subirShape(data)">Carregar</button>

					</form>
					<form
					action='/testeform'
					method='post'
					encType="multipart/form-data">
					<input type="file"  name="file" size="1"/>
					<input  type='submit' value='Upload!' />
				</form>


			</div>
			
		</div>
		<div class="col-sm-5">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th class="text-center" width="60px">Coordenadas</th>
						<th class="text-center" width="60px">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="quadra in quadras">
						<td>{{quadra.codigo}}</td>
						<td>{{quadra.nome}}</td>
						<td class="text-center" width="100px">{{(quadra.coordenadas == true ? 'Sim' : 'Nāo')}}</td>
						<td class="text-center" width="70px">
							<button type="button" class="btn btn-default btn-xs" ng-click="editar(quadra)">
								<i class="glyphicon glyphicon-pencil"></i>
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="excluir(quadra)">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
role="dialog" aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-sm">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">
				<span class="glyphicon glyphicon-time">
				</span>&nbsp;&nbsp;Aguarde, carregando...
			</h4>
		</div>
		<div class="modal-body">
			<div class="progress">
				<div class="progress-bar progress-bar-info
				progress-bar-striped active"
				style="width: 100%">
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
	var context = new (window.AudioContext || window.webkitAudioContext)();
	function playsound(raw) {
		console.log("now playing a sound, that starts with", new Uint8Array(raw.slice(0, 10)));
		context.decodeAudioData(raw, function (buffer) {
			if (!buffer) {
				console.error("failed to decode:", "buffer null");
				return;
			}
			var source = context.createBufferSource();
			source.buffer = buffer;
			source.connect(context.destination);
			source.start(0);
			console.log("started...");
		}, function (error) {
			console.error("failed to decode:", error);
		});
	}

	function onfilechange(then, evt) {
    var files = evt.target.files; // FileList object
    var selFile = files[0];
    var reader = new FileReader();
    reader.onload = function (e) {
    	console.log(e);
    	then(e.target.result);
    };
    reader.onerror = function (e) {
    	console.error(e);
    };
    reader.readAsArrayBuffer(selFile);
}


document.getElementById('file').addEventListener('change', onfilechange.bind(null, playsound), false);

</script>
</div>
<!-- Modal ends Here -->
</div>