<div ng-controller="safraCtrl">
	<div class="container container-view">
		<div class="row">
			<div class="col-sm-4 col-sm-no-bottom">
				<form class="form-signin" role="form" action="/login" method="post">
	        <div class="form-group">
	          <label>Fazenda</label>
	           <select class="form-control" ng-options="fazenda.nome for fazenda in fazendas" ng-model="data.fazenda" ng-change="chengeFazenda(data.fazenda)">
	           	<option value="">Selecione</option>
	           </select>
	        </div>
	      </form>
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-sm-4">
				<form class="form-signin" role="form" action="/login" method="post">
	        <div class="form-group">
	          <label>Descriçāo</label>
	          <input type="text" class="form-control" placeholder="Descriçāo" name="descricao" ng-model="form.descricao" />
	        </div>
	        <div class="form-group">
	          <label>Ativo</label>
	          <select class="form-control" ng-model="form.ativo">
	          	<option value="true">Sim</option>
	          	<option value="false">Nāo</option>
	          </select>
	        </div>
	        <button type="button" class="btn btn-success pull-left" ng-show="!edit" ng-click="salvarSafra(form)">Salvar</button>
	        <button type="button" class="btn btn-success pull-left" ng-show="edit" ng-click="atualizarSafra(form)">Atuaizar</button>
	        <button type="button" class="btn btn-default btn-cancel">Cancelar</button>
	      </form>
			</div>
			<div class="col-sm-8">
				<table class="table table-condensed table-bordered">
					<thead>
						<tr>
								<th>Descriçāo</th>
								<th class="text-center" width="100px">Ativo</th>
								<th class="text-center" width="130px">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="safra in safras">
							<td>{{safra.descricao}}</td>
							<td class="text-center">{{safra.ativo == 'true' ? 'Sim' : 'Nāo'}}</td>
							<td class="text-center" width="130px">
								<button type="button" class="btn btn-default btn-xs" ng-click="getQuadras(safra)">Quadras</button>
								<button type="button" class="btn btn-default btn-xs" ng-click="editarSafra(safra)">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
								<button type="button" class="btn btn-danger btn-xs" ng-click="excluirSafra(safra)">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="modalQuadras">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Quadra - {{objModal.descricao}}</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
						<div class="col-sm-4">
							<form class="form-signin" role="form" action="/login" method="post">
				        <div class="form-group">
				          <label>Descriçāo</label>
				          <input type="text" class="form-control" placeholder="Descriçāo" name="descricao" ng-model="objModalQuadra.descricao" />
				        </div>
				        <div class="form-group">
				          <label>Ativo</label>
				          <select class="form-control" ng-model="objModalQuadra.ativo">
				          	<option value="true">Sim</option>
				          	<option value="false">Nāo</option>
				          </select>
				        </div>
				        <div class="form-group">
				          <label>Coordenadas</label>
				          <select class="form-control" ng-model="objModalQuadra.coordenada">
				          	<option value="true">Sim</option>
				          	<option value="false">Nāo</option>
				          </select>
				        </div>
				        <div class="form-group">
				          <label>Cultura</label>

				          {{objModalQuadra.cultura}}
						      <select class="form-control" ng-options="cultura.nome for cultura in culturas" ng-model="objModalQuadra.cultura">
			         	  </select>
				        </div>
				        <button type="button" class="btn btn-success pull-left" ng-show="!editQuadra" ng-click="salvarQuadra(objModalQuadra)">Salvar</button>
				        <button type="button" class="btn btn-success pull-left" ng-show="editQuadra" ng-click="atualizarQuadra(objModalQuadra)">Atuaizar</button>
				        <button type="button" class="btn btn-default btn-cancel">Cancelar</button>
				      </form>
						</div>
						<div class="col-sm-8">
							<table class="table table-condensed table-bordered">
								<thead>
									<tr>
											<th>Descriçāo</th>
											<th class="text-center" width="130px">Cultura</th>
											<th class="text-center" width="100px">Ativo</th>
											<th class="text-center" width="70px">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="quadra in quadras">
										<td>{{quadra.descricao}}</td>
										<td class="text-center" width="130px">{{quadra.cultura.nome}}</td>
										<td class="text-center">{{quadra.ativo == 'true' ? 'Sim' : 'Nāo'}}</td>
										<td class="text-center" width="70px">
											<button type="button" class="btn btn-default btn-xs" ng-click="editarQuadra(quadra)">
												<i class="glyphicon glyphicon-pencil"></i>
											</button>
											<button type="button" class="btn btn-danger btn-xs" ng-click="excluirQuadra(quadra)">
												<i class="glyphicon glyphicon-remove"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>