<div ng-controller="variedadeCtrl" class="ng-scope ng_scope">
	<div class="container container-view">
		<div class="row">
			<div class="col-sm-6 col-sm-no-bottom">
				<p>Você está em <a href="#home">Início</a> / <a href="#cadastro">Cadastro</a>  / <a href="#variedade">Variedade</a></p>

				<br />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-no-bottom">

				<label>Fazenda</label>
				<select class="form-control" ng-disabled=desabilitaFazenda ng-options="fazenda.nome for fazenda in fazendas" ng-model="data.fazenda" ng-change="chengeFazenda(data.fazenda)">
					<option value="">Selecione</option>
				</select>
				
			</div>
		</div> 
		<hr/>
		<div class="row">
			<div class="col-sm-6">
				<button type="button" class="btn btn-success" ng-show="save" ng-click="salvarVariedade(data)">Salvar</button>
				<button type="button" class="btn btn-success" ng-show="edit" ng-click="editarVariedade
				(data)">Atualizar</button>
				<button type="button" class="btn btn-default btn-cancel" ng-click="cancelar()">Cancelar/Novo</button>
				<button type="button" class="btn btn-default btn-danger" ng-show="edit" ng-click="excluir(data)">Excluir</button>
				<br />
				<br />
				<form class="form-signin" role="form">
					<div class="form-group">
						<label><i>Código Interno</i></label>
						<p>
							<label>{{data.key}}</label>
						</p>
					</div>
					<div class="form-group">
						<label>Cultura</label>
						<select class="form-control"  ng-disabled=desabilitaFazenda  ng-model="data.key_cultura">
							<option value="{{cultura.key}}" ng-repeat="cultura in culturas">{{cultura.nome}}</option>
						</select>
					</div>
					<div class="form-group">
						<label>Nome</label>
						<input type="text" class="form-control" placeholder="Nome" ng-model="data.nome" />
					</div>	
					<div class="form-group">
						<label>Tecnologia</label>

						<div class="radio">
							<label><input type="radio" ng-model="data.key_tecnologia" value="-KQkw5zcA_s8e1GizcjZ" name="optradio">Convencional</label>
							<label><input type="radio" ng-model="data.key_tecnologia" value="-KQl825pGvZvnhE23Ted" name="optradio">Transgênico</label>
						</div>
					</div>						
					
					
				</form>
				
			</form>
		</div>
		<div class="col-sm-6">
			<div ui-grid="gridOptions" ui-grid-selection class="gridVariedade"></div>	
			
		</div>
	</div>

	<!-- Modal DELETE-->
	<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Confirmação Exclusão</h4>
				</div>

				<div class="modal-body">
					<p>Têm certeza que deseja excluir a Variedade '{{data.nome}}'?</p>
					<p class="debug-url"></p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-default btn-danger" ng-show="edit" ng-click="excluirVariedade(data)">Excluir</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Start here-->
	<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
	role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-time">
					</span>&nbsp;&nbsp;Aguarde, carregando...
				</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-info
					progress-bar-striped active"
					style="width: 100%">
				</div>
			</div>
		</div>
	</div>
</div>
