<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/dist/images/favicon.ico">
	<link rel="mask-icon" href="/dist/images/favicon.ico" color="black">
	<title>Pragueiro - 3.01</title>

	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
	<link rel="stylesheet" type="text/css" href="/app/libraries/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/app/dist/css/index.css">
	<link rel="stylesheet" type="text/css" href="/app/libraries/angular-ui-grid/ui-grid.css" /> 
	<link rel="stylesheet" href="/app/libraries/fullcalendar/fullcalendar.css">
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDDu-8XiPmbb5QbSlh-Dv4xyHF53iGUPOk&language=br&libraries=visualization,geometry"></script>
	<style type="text/css">
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}

	.variedade_css{
		padding-right: 5px; 
		padding-left: 0px; 
	}


</style>
</head>
<body>
	<!--
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand"><img src="dist/img/actionbar_title.png" class="logo-actionbar_title"</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/home">Início</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Básico <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/configuracoes">Configurações</a></li>
							<li><a href="#/clapraemp">Classe de Praga</a></li>
							<li><a href="#/praemp">Praga</a></li>		
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/fazenda">Fazenda</a></li>
							<li><a href="#/quadra">Quadra</a></li>								
							<li><a href="#/variedade">Variedade</a></li>
							<li><a href="#/safra">Safra</a></li>	

							<li>---------------</li>	
							<li><a href="#/planejamento">Planejamento de Safra</a></li>	
							<li>---------------</li>
							<li><a href="#/agendamento">Agendamento</a></li>	

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro (operacional)<span class="caret"></span></a>
						<ul class="dropdown-menu">							
							<li><a href="#/equipe">Equipe</a></li>	
							<li><a href="#/funcionario">Funcionário/operadores</a></li>	
							<li><a href="#/tipati">Tipo Ordem de Serviço/Atividade</a></li>	
							<li><a href="#/tipequ">Tipo Equipamento</a></li>	
							<li><a href="#/equipamento">Equipamento</a></li>	
							<li><a href="#/produto">Produto</a></li>	
							li><a href="#/safra">Planejamento Safra</a></li>					
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lançamentos Operacionais <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/ordser">Ordem de Serviço/Atividade</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/home">Relatório de atividades</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configurações <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/perfil">Meu perfil</a></li>
							<li><a href="javascript:void(0)" ng-click="logout()">Sair</a></li>
							<!--<li><a href="#/erros">Erros</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
-->
<!-- 
<br>
<br><br>
<br><br>
x
<div ng-include="'#menu'"></div> 
y
-->
<ng-view></ng-view>
<script src="/app/libraries/jquery/js/jquery.min.js"></script>
<script src="/app/libraries/angularjs/js/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="https://cdn.firebase.com/libs/firebase-util/0.2.5/firebase-util.min.js"></script>

<script src="https://cdn.jsdelivr.net/lodash/3.8.0/lodash.min.js"></script> 
	<!--
	<script src="/app/libraries/angular-google-maps/angular-simple-logger.js"></script>
	<script src="/app/libraries/angular-google-maps/angular-google-maps.min.js"></script>
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>

<script src="/app/libraries/notify/js/bootstrap-notify.min.js"></script>
<script src="/app/libraries/bootstrap/js/bootstrap.min.js"></script>
<script src='/app/libraries/checklist-model/checklist-model.js'></script>
<script src="/app/libraries/angularjs/js/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
<script src="/app/libraries/ngmap/taxi-data.js"></script>
<script src="/app/libraries/ngmap/ng-map.min.js"></script>
<script src="/app/libraries/mask/js/jquery-mask.min.js"></script>
<script src="/app/libraries/kmlmapparser/KmlMapParser.js"></script>


<script src='/app/libraries/moment/moment.js'></script>
<script src='/app/libraries/fullcalendar/fullcalendar.js'></script>
<script src='/app/libraries/fullcalendar/gcal.js'></script>
<script src='/app/libraries/angular-ui-calendar/calendar.js'></script>


<script src="/app/app.js"></script>
<script src="/app/others/script.js"></script>
<script src="/app/others/config.js"></script>
<script src="/app/others/util.js"></script>
<script src="/app/others/service.js"></script>
<script src="/app/others/directive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js" type="text/javascript"></script>
<script src="/app/libraries/angularfire/angularGeoFire.js"></script>
<script src="/app/libraries/angularfire/geofire.min.js"></script>
<script src="https://unpkg.com/shapefile@0.5"></script>
<script type="text/javascript" src="/app/libraries/angular-ui-grid/ui-grid.min.js"></script>  

	<!--
<script src="/app/libraries/stimulsoft/stimulsoft.reports.js"></script>
<script src="/app/libraries/stimulsoft/stimulsoft.viewer.js"></script>
<script src="/app/libraries/stimulsoft/stimulsoft.designer.js"></script>
-->



</body>
</html>