<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form
        action='/'
        method='post'
        encType="multipart/form-data">
    <input type="file"  name="file" size="1"/>
    <input  type='submit' value='Upload!' />
  </form>

  </body>
</html>
