<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/dist/images/favicon.ico">
    <link rel="mask-icon" href="/dist/images/favicon.ico" color="black">
    <title>Pragueiro - Entrar</title>
    <link rel="stylesheet" type="text/css" href="app/libraries/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/dist/css/login.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <img src="app/dist/img/logo/home.png" class="logo-login">
        </div>
      </div>
      <br>
      <form class="form-signin" role="form" action="/login" method="post">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" placeholder="Email" name="username" />
        </div>
        <div class="form-group">
          <label>Senha</label>
          <input type="password" class="form-control" placeholder="Senha" name="password" />
        </div>
        <button type="submit" class="btn btn-success pull-left">Entrar</button>
        <a href="/singup" class="pull-right btn-create-user">Cadastre-se</a>
      </form>
    </div>
  </body>
</html>